<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{@title}}</h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{@content}}</p>
    <button type="button" class="btn btn-primary">{{@buttonText}}</button>
  </div>
</div>